.guarantee
    padding-top: 170px

.guarantee__container
    display: flex
    justify-content: space-between
.guarantee__image-wrap ,
.guarantee__about 
    flex: 0 0 50%

.guarantee__image-wrap 

.guarantee__image 
    display: block
    max-width: 100%
    height: auto

.guarantee__about
    padding-top: 75px
    padding-left: 25px 
    padding-right: 73px

.guarantee__title
    margin-bottom: 25px

.guarantee__desc
    width: 100%
    margin: 0
    line-height: 22px
