<section class="guarantee slowSection">
    <div class="guarantee__container container">
        <div class="guarantee__image-wrap">
            <img src="%=static=%img/assets/guarantee/guarantee__img.jpg" alt="Гарантии UltZooM" class="guarantee__image slowBlock">
            <div class="guarantee__lines block-lines"></div>
        </div>

        <div class="guarantee__about">
            <p class="section-name slowText">UltZooM</p>
            <h2 class="guarantee__title section-title slowText">Гарантия</h2>
            <p class="guarantee__desc slowText">Чип рассчитан для работы в режиме 24 часа в сутки, 7 дней в неделю, как сим карта для телефона.
                По этой причине, мы даем гарантию на работу чипа 10 лет или 1.000.000 процедур отбеливания.
                Каждый наш клиент остается доволен покупкой!
            </p>
        </div>
    </div>
</section>