<section id="guarantee" class="guarantee slowSection">
    <div class="guarantee__container container">
        <div class="guarantee__image-wrap">
            <img src="%=static=%img/assets/guarantee/guarantee__img.jpg" alt="Гарантии UltZooM" class="guarantee__image slowBlock">
            <div class="guarantee__lines block-lines"></div>
        </div>

        <div class="guarantee__about">
            <p class="section-name slowText">UltZooM</p>
            <h2 class="guarantee__title section-title slowText">Гарантия</h2>
            <p class="guarantee__desc slowText">При разработке и изготовлении чипа нами были применены самые современные микроэлектронные устройства и технологии. Чип рассчитан для работы в режиме 24 часа в сутки, 7 дней в неделю.  Срок использования не ограничен. Наши гарантийные обязательства сохраняются в течение всего срока службы чипа или насадки.
            </p>
        </div>
    </div>

    <div class="container">
        <h2 class="section-name slowText">Сохранение гарантии Philips</h2>

        <div class="guarantee__desc slowText">
            Наши чип или насадка UltZooM не являются расчиповкой лампы. Мы не вторгаемся в работу электроники лампы, мы не вскрываем какие либо части лампы. Мы лишь меняем сменную насадку на насадку с установленным безлимитным чипом UltZooM. 
            <br><br>
            Никакие гарантийные пломбы лампы НЕ нарушаются. Т.о. заводская гарантия Philips на лампу при использовании безлимитного чипа UltZooM или насадки UltZooM полностью сохраняется. 
        </div>
    </div>
</section>