.about-chip


.about-chip__container
    
.about-chip__container-big
    position: relative

.about-chip__title 


.about-chip__desc
    max-width: 875px
    margin-bottom: 125px

.about-chip__wrap-list
    padding: 0 40px

.about-chip__list
    @include nl
    margin: 0 -15px
    display: flex


.about-chip__item
    flex: 0 0 25%
    padding: 0 15px
    color: #000000

.about-chip__item-title
    margin: 0
    margin-bottom: 18px
    font-weight: 700
    font-size: 17px
    line-height: 23px
    letter-spacing: 0.1em

.about-chip__item-desc 
    margin: 0
    font-size: 17px
    line-height: 26px

