<section class="about-chip slowSection">
    <div class="about-chip__container-big container-big">
        <div class="about-chip__container container">
            <h2 class="about-chip__title section-name slowText">О чипе UltZooM</h2>
            <p class="about-chip__desc section-desc slowText">
                Чип Bleach Infiniter полностью соответствует размерам и технологии работы оригинального чипа Philips, который установлен в сменной насадке лампы ZOOM.
                <br><br>
                С данным чипом лампа ZOOM всегда будет показывать количество доступных циклов 4 из 4.
            </p>
    
            <div class="about-chip__wrap-list slowText">
                <ul class="about-chip__list">
                    <li class="about-chip__item">
                        <p class="about-chip__item-title">30 ДНЕЙ БЕСПЛАТНО</p>
                        <p class="about-chip__item-desc">В течении 30 дней после доставки чипа вы его тестируете и принимаете решение о покупке.</p>
                    </li>
                    <li class="about-chip__item">
                        <p class="about-chip__item-title">ГАРАНТИЯ 10 ЛЕТ</p>
                        <p class="about-chip__item-desc">Гарантируем работу чипа 
                            в течении 10 лет или 1.000.000 использований.</p>
                    </li>
                    <li class="about-chip__item">
                        <p class="about-chip__item-title">НА РЫНКЕ С 2015 ГОДА</p>
                        <p class="about-chip__item-desc">Успешно продаем чипы с 2015 года и осуществляем их доставку по всему миру: от России до США.</p>
                    </li>
                    <li class="about-chip__item">
                        <p class="about-chip__item-title">СЕРТИФИЦИРОВАН</p>
                        <p class="about-chip__item-desc">Чип WhiteFree прошел  испытания в лабораториях ВсероссийскогоНаучно-
                            Исследовательского Института Сертификации (ВНИИС)</p>
                    </li>
                </ul>
            </div>
        </div>

        {{>social-list/social-list}}
    </div>
</section>