<section class="about-chip slowSection">
    <div class="about-chip__container-big container-big">
        <div class="about-chip__container container">
            <h2 class="about-chip__title section-name slowText">О чипе UltZooM</h2>
            <p class="about-chip__desc section-desc slowText">
                Чип UltZooM полностью соответствует размерам и технологии работы оригинального чипа Philips, который установлен в сменной насадке лампы ZOOM.
                <br><br>
                С данным чипом лампа ZOOM всегда будет показывать количество доступных циклов 4 из 4.
            </p>
    
            <div class="about-chip__wrap-list slowText">
                <ul class="about-chip__list">
                    <li class="about-chip__item">
                        <p class="about-chip__item-title">30 ДНЕЙ БЕСПЛАТНО</p>
                        <p class="about-chip__item-desc">В течение 30 дней с момента покупки мы гарантируем возврат денег, если по чип или насадка не соответствует описанию, или не подходит для Вашей PHILIPS ZOOM лампы.</p>
                    </li>
                    <li class="about-chip__item">
                        <p class="about-chip__item-title">Пожизненная гарантия</p>
                        <p class="about-chip__item-desc">Мы гарантируем бесперебойную работу чипа или насадки в течение всего срока использования.
                            <br>
                            Количество циклов не ограничено, Время использования - не ограничено. В любое время, вне зависимости, когда чип или насадка были приобретеры, мы гарантируем замену в случае их неработоспособности. 
                            <br>
                            Исключение - механическое или иное внешнее воздействие.</p>
                    </li>
                    <li class="about-chip__item">
                        <p class="about-chip__item-title">НА РЫНКЕ С 2015 ГОДА</p>
                        <p class="about-chip__item-desc">Успешно продаем чипы с 2015 года и осуществляем их доставку по всему миру: от России до США.</p>
                    </li>
                    <li class="about-chip__item">
                        <p class="about-chip__item-title">СЕРТИФИЦИРОВАН</p>
                        <p class="about-chip__item-desc">Чип UltZooM прошел испытания в лабораториях Всероссийского Научно-Исследовательского Института Сертификации (ВНИИС)</p>
                    </li>
                </ul>
            </div>
        </div>

        {{>social-list/social-list}}
    </div>
</section>