// GUI stylies of the project
// For example, styles of the links, buttons and so on.
.woocommerce a.button.btn-main,
.woocommerce button.button.btn-main,
.woocommerce input.button.btn-main,
.woocommerce ul.order_details + p + form input[type="submit"],
.btn-main {
    padding: 6px 33px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    background-color: $green;
    border-radius: 5px;
    text-decoration: none;
}

.woocommerce ul.order_details + p + form input[type="submit"] {
    border: none;
}

.btn-arrow {
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.215em;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    &:hover {
        .btn-arrow__icon-arrow {
                transform: scaleX(1.1);
        }
    }
}

.btn-arrow__icon {
    vertical-align: middle;
}


.btn-anchor {
    display: block;
    color: #000;
    text-decoration: none;
}