.footer
    padding: 34px 0
    font-size: 12px
    line-height: 16px
    background-color: #EFF5F6

.footer__container
    display: flex
    justify-content: space-between
    align-items: center
    @include _768
        flex-wrap: wrap

.footer_nooffer,
.footer_copyright 
    margin: 0

.footer_nooffer
    max-width: 665px
    padding-right: 15px
    letter-spacing: 0.05em
    @include _768
        max-width: none
        margin-bottom: 25px
        padding-right: 0
        

.footer_copyright 
