<section class="hero">
    <div class="hero__panel">
        <div class="panel__button-device panel__button-device--top" data-device="1">
            <img class="panel__button-preview" src="%=static=%img/assets/hero/device-01.png" alt="" >
        </div>
        <div class="panel__button-device panel__button-device--left" data-device="2">
            <img class="panel__button-preview" src="%=static=%img/assets/hero/device-02.png" alt="" >
        </div>
        <svg class="panel__bg-circle" width="515" height="516" viewBox="0 0 515 516" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="257.231" cy="258.076" r="256.731" stroke="#009473"/>
        </svg>

        <div class="panel__image-wrap">
            <img src="%=static=%img/assets/hero/device-01.png" alt="" data-device="1" class="panel__image-full panel__image-full--top panel__image-full-active">
            <img src="%=static=%img/assets/hero/device-02.png" alt="" data-device="2" class="panel__image-full panel__image-full--left">
        </div>

        <div class="panel__text-wrap">
            <div class="panel__text-device panel__text-device-active" data-device="1">
                <p class="panel__device-name">ЧИП UltZooM ДЛЯ PHILIPS ZOOM</p>
                <p class="panel__device-desc">Оригинальная чип-насадка, для клинического отбеливания Zoom, с бесконечным количеством циклов использования</p>
                <p class="panel__device-price"><b>Стоимость 19 900 рублей.</b></p>
                <a class="panel__device-btn btn-arrow btn-add-cart" href="#">
                    Заказать чип 
                    <svg class="btn-arrow__icon" width="57" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#C9E7E1" d="M41 0h16v17H41z"/>
                        <g class="btn-arrow__icon-arrow">
                            <path d="M48.082 6.082L51 9l-3 3 .082-5.918z" fill="#009473"/>
                            <path d="M49 9H1" stroke="#009473" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="panel__text-device" data-device="2">
                <p class="panel__device-name">НАСАДКА UltZooM ДЛЯ PHILIPS ZOOM</p>
                <p class="panel__device-desc">Оригинальная чип-насадка, для клинического отбеливания Zoom, с бесконечным количеством циклов использования</p>
                <p class="panel__device-price"><b>Стоимость 21 900 рублей.</b></p>
                <a class="panel__device-btn btn-arrow btn-add-cart" href="#">
                    Заказать насадку 
                    <svg class="btn-arrow__icon" width="57" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#C9E7E1" d="M41 0h16v17H41z"/>
                        <g class="btn-arrow__icon-arrow">
                            <path d="M48.082 6.082L51 9l-3 3 .082-5.918z" fill="#009473"/>
                            <path d="M49 9H1" stroke="#009473" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
            
    </div>
</section>