<section class="hero">
    <div class="hero__panel">
        <div class="panel__button-device panel__button-device--top">
            <img class="panel__button-preview" src="%=static=%img/assets/hero/device-preview-01.png" alt="" >
        </div>
        <div class="panel__button-device panel__button-device--left">
            <img class="panel__button-preview" src="%=static=%img/assets/hero/device-preview-02.png" alt="" >
        </div>
        <svg class="panel__bg-circle" width="515" height="516" viewBox="0 0 515 516" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="257.231" cy="258.076" r="256.731" stroke="#009473"/>
        </svg>

        <div class="panel__image-wrap">
            <img src="%=static=%img/assets/hero/device-full-01.png" alt="" class="panel__image-full panel__image-full--01 panel__image-full-active">
            <img src="%=static=%img/assets/hero/device-full-02.png" alt="" class="panel__image-full panel__image-full--02">
        </div>

        <div class="panel__text-wrap">
            <div class="panel__text-device panel__text-device--top panel__text-device-active">
                <p class="panel__device-name">ЧИП UltZooM ДЛЯ PHILIPS</p>
                <p class="panel__device-desc">Оригинальная чип-насадка, для клинического отбеливания Zoom, с бесконечным количеством циклов использования</p>
                <p class="panel__device-price"><b>Стоимость 19 900 рублей.</b> Оплата после получения и тестирования.</p>
                <button class="panel__device-btn btn-arrow btn-order">
                    Заказать чип 
                    <svg class="btn-arrow__icon" width="57" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#C9E7E1" d="M41 0h16v17H41z"/>
                        <g class="btn-arrow__icon-arrow">
                            <path d="M48.082 6.082L51 9l-3 3 .082-5.918z" fill="#009473"/>
                            <path d="M49 9H1" stroke="#009473" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                </button>
            </div>
            <div class="panel__text-device panel__text-device--left">
                <p class="panel__device-name">ЧИП UltZooM ДЛЯ PHILIPS 2</p>
                <p class="panel__device-desc">Оригинальная чип-насадка, для клинического отбеливания Zoom, с бесконечным количеством циклов использования</p>
                <p class="panel__device-price"><b>Стоимость 22 900 рублей.</b> Оплата после получения и тестирования.</p>
                <button class="panel__device-btn btn-arrow btn-order">
                    Заказать чип 
                    <svg class="btn-arrow__icon" width="57" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#C9E7E1" d="M41 0h16v17H41z"/>
                        <g class="btn-arrow__icon-arrow">
                            <path d="M48.082 6.082L51 9l-3 3 .082-5.918z" fill="#009473"/>
                            <path d="M49 9H1" stroke="#009473" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
            
    </div>
</section>