.modal__content-wrap
    display: flex
    align-items: stretch

.modal__add-content
    max-width: 485px
    padding: 130px 55px 130px 95px
    background-color: #C9E7E1

.modal__add-logo
    margin: 0
    margin-bottom: 55px
    font-weight: 700
    font-size: 24px
    line-height: 33px

.modal__add-title
    margin: 0
    margin-bottom: 25px
    font-weight: 700
    font-size: 24px
    line-height: 33px

    letter-spacing: 0.175em
    text-transform: uppercase

.modal__add-desc
    margin: 0
    margin-bottom: 25px
    font-family: 'Roboto', sans-serif
    font-weight: 300
    line-height: 19px 

.btn-register
    border: none