<div class="modal modal-order-register">
    <div class="modal__content">
        <div class="modal__content-wrap">
            <div class="modal__add-content">
                <p class="modal__add-logo">UltZooM</p>
                <h2 class="modal__add-title">Добро пожаловать</h2>
                <p class="modal__add-desc">Компания Bleach Infiniter создана в 2015 году и специализируется на производстве безлимитных чипов для ламп Philips.</p>
                <button class="btn-register btn-main">Зарегистрироваться</button>
            </div>
            <div class="modal__main-content">
                <h2 class="modal__title">ЗАКАЗАТЬ ТОВАР</h2>
    
                <form action="" class="modal__form-order">
                    <p class="modal__input-wrap">
                        <label for="order-username" class="modal__label visually-hidden">Имя</label>
                        <input id="order-username" name="order-username" type="text" class="modal__input" placeholder="Имя" required>
                    </p>
                    <p class="modal__input-wrap">
                        <label for="order-count" class="modal__label">Количество</label>
                        <input id="order-count" name="order-count" type="number" class="modal__input modal__input--count" value="1" required>
                    </p>
                    <p class="modal__input-wrap">
                        <label for="order-phone" class="modal__label visually-hidden">Телефон</label>
                        <input id="order-phone" name="order-phone" type="tel" class="modal__input" placeholder="Телефон" data-mask="+7 (___) ___ - __ - __" required>
                    </p>
                    <p class="modal__input-wrap modal__input-wrap--address">
                        <label for="order-address" class="modal__label visually-hidden">Адрес доставки</label>
                        <input id="order-address" name="order-address" type="text" class="modal__input" placeholder="Адрес доставки" required>
                    </p>
                    <button class="modal__btn btn-main" type="submit">Заказать</button>
                </form>
    
                <button class="modal-close">
                    <svg class="modal-close__icon" width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.731 14.7863h-6.0396v6.817h-2.0132v-6.817H5.63867V12.514h6.03953V5.69702h2.0132V12.514h6.0396v2.2723z" fill="#929292"/></svg>
                </button>
            </div>
        </div>
    </div>
</div>