<section class="reviews">
    <div class="reviews__container container">
        <div class="reviews__about">
            <p class="section-name">ЧИП UltZooM</p>
            <h2 class="reviews__title section-title">Отзывы</h2>

            <p class="reviews__desc">
                Только положительные отзывы стоматологов и руководителей клиник, которые испытали чип Bleach Infiniter в работе.
                <br><br>
                Все клиенты отмечают, что после установки чипа режим работы лампы ZOOM  не изменяется.
            </p>
            <button class="reviews__btn btn-arrow btn-order">
                Заказать чип
                <svg class="btn-arrow__icon" width="57" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#C9E7E1" d="M41 0h16v17H41z"/>
                    <g class="btn-arrow__icon-arrow">
                        <path d="M48.082 6.082L51 9l-3 3 .082-5.918z" fill="#009473"/>
                        <path d="M49 9H1" stroke="#009473" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                </svg>
            </button>
        </div>

        <div class="reviews__list-wrap">
            <ul class="reviews__list">
                <li class="reviews__item">
                    <img src="%=static=%img/assets/reviews/reviews__avatar.jpg" alt="" class="reviews__item-avatar">
                    <div class="reviews__item-wrap">
                        <div class="reviews__item-header">
                            <p class="reviews__name">Елена Наумова, стоматолог</p>
                            <p class="reviews__date">25.02.2020</p>
                        </div>
                        <p class="reviews__text">
                            Мы на протяжении 5 лет используем оборудование Zoom для отбеливания зубов. Но с каждым годом это становилось все дороже и дороже, так как расходники Zoom все время дорожали.
                            <br><br>
                            Мы купили чип Bleach Infiniter и теперь покупаем только гели для отбеливания зубов, а за чип Philips мы не платим. Хочется поблагодарить компанию Bleach Infiniter за такое новшество, за такой адаптер, за быструю доставку.
                        </p>
                    </div>
                </li>
            </ul>

            <button class="reviews__list-btn btn-arrow">
                Все отзывы
                <svg class="btn-arrow__icon" width="57" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#C9E7E1" d="M41 0h16v17H41z"/>
                    <g class="btn-arrow__icon-arrow">
                        <path d="M48.082 6.082L51 9l-3 3 .082-5.918z" fill="#009473"/>
                        <path d="M49 9H1" stroke="#009473" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                </svg>
            </button>
        </div>
    </div>
</section>