.delivery
    padding-top: 170px

.delivery__container-big 
    position: relative

.delivery__container 

.section-name 

.delivery__desc
    max-width: 810px
    font-size: 24px
    line-height: 33px
    color: $green

.delivery__phone
    font-weight: bold
    text-decoration: none
    color: $green
    &:hover
        text-decoration: underline 

.delivery__note
    margin: 0
    font-family: 'Roboto', sans-serif
    font-weight: 300
    font-size: 14px
    line-height: 16px
