<section id="delivery" class="delivery slowSection">
    <div class="delivery__container-big container-big">
        <div class="delivery__container container">
            <h2 class="section-name slowText">Доставка и оплата</h2>

            <div class="delivery__desc slowText">
                Вы можете заказать бесплатную доставку следующими способами: оставить заявку на сайте, позвонить по телефону <a href="tel:+79857294692" class="delivery__phone">+7-985-729-46-92</a>  или написать нам адрес доставки в WhatsApp <a href="https://api.whatsapp.com/send?phone=79857294692" class="delivery__phone">+7-985-729-46-92</a>.
                Оплата производится удобным вам способом у вас в клинике после демонстрации на вашей лампе*
                <br><br>
                При необходимости, будут предоставлены все закрывающие документы.
                <br><br>
                <p class="delivery__note">*При наличии специалиста Ultimate Solution в вашем городе.</p>
            </div>
        </div>

        {{>social-list/social-list}}
    </div>

</section>