<section class="delivery">
    <div class="delivery__container-big container-big">
        <div class="delivery__container container">
            <h2 class="section-name">Доставка и оплата</h2>

            <div class="delivery__desc">
                Вы можете заказать бесплатную доставку следующими способами: оставить заявку на сайте, позвонить по телефону <a href="tel:+74993229020" class="delivery__phone">+7 (499) 322-90-20</a>  или написать нам адрес доставки в WhatsApp <a href="https://api.whatsapp.com/send?phone=79643938899" class="delivery__phone">+7 (964) 393-88-99</a>.
                Оплата производится удобным вам способом у вас в клинике после демонстрации на вашей лампе*
                <br><br>
                <p class="delivery__note">*При наличии специалиста Bleach Infiniter в вашем городе.</p>
            </div>
        </div>

        {{>social-list/social-list}}
    </div>

</section>