<header class="header">
    <div class="header__container container-big">
        <a href="./index.html" class="header__logo">
            UltZooM
        </a>

        <div class="header__l-menu">
            <a href="tel:+74993229020" class="header__phone">+7 (499) 322 90 20</a>

            <a href="" class="header__language">RU</a>

            <!--<button class="header__login btn-main btn-register">Вход</a>-->
            <div class="header__user">
                <img src="https://via.placeholder.com/31" alt="" class="header__user-avatar">
                <a href="./lk.html" class="header__user-name">Екатерина Носик</a>
            </div>
        </div>
    </div>
</header>