<header class="header header-fixed">
    <div class="header__container container-big">
        <a href="./index.html" class="header__logo">
            UltZooM
        </a>

        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="#about-chip" class="header__nav-link">О чипе</a></li>
                <li class="header__nav-item"><a href="#installation" class="header__nav-link">Установка</a></li>
                <li class="header__nav-item"><a href="#guarantee" class="header__nav-link">Гарантии</a></li>
                <li class="header__nav-item"><a href="#delivery" class="header__nav-link">Доставка и оплата</a></li>
                <li class="header__nav-item"><a href="#reviews" class="header__nav-link">Отзывы</a></li>
                <li class="header__nav-item"><a href="#contacts" class="header__nav-link">Контакты</a></li>
            </ul>
        </nav>

        <div class="header__l-menu">
            <ul class="header-contacts__list">
                <li class="header-contacts__item"><a href="tel:+79857294692" class="header-contacts__link">
                    <svg class="header-contacts__icon" width="16" height="16" fill="#000" xmlns="http://www.w3.org/2000/svg"><path d="M10.165 10.74l1.12-1.12a1.095 1.095 0 011.17-.24l1.365.545a1.09 1.09 0 01.68 1v2.5a1.084 1.084 0 01-1.14 1.075C3.795 13.905 1.865 5.805 1.5 2.705A1.085 1.085 0 012.585 1.5H5a1.08 1.08 0 011 .68l.545 1.365a1.08 1.08 0 01-.235 1.17l-1.12 1.12s.645 4.365 4.975 4.905z"/></svg>
                    +7-985-729-46-92
                </a></li>
                <li class="header-contacts__item"><a href="" class="header-contacts__link">
                    <svg class="header-contacts__icon" width="16" height="16" fill="#000" xmlns="http://www.w3.org/2000/svg"><path d="M13.44 4.56C11.52 1.6 7.6.72 4.56 2.56 1.6 4.4.64 8.4 2.56 11.36l.16.24-.64 2.4 2.4-.64.24.16c1.04.56 2.16.88 3.28.88 1.2 0 2.4-.32 3.44-.96 2.96-1.92 3.84-5.84 2-8.88zm-1.68 6.16c-.32.48-.72.8-1.28.88-.32 0-.72.16-2.32-.48-1.36-.64-2.48-1.68-3.28-2.88-.48-.56-.72-1.28-.8-2 0-.64.24-1.2.64-1.6.16-.16.32-.24.48-.24h.4c.16 0 .32 0 .4.32.16.4.56 1.36.56 1.44.08.08.08.24 0 .32.08.16 0 .32-.08.4-.08.08-.16.24-.24.32-.16.08-.24.24-.16.4.32.48.72.96 1.12 1.36.48.4.96.72 1.52.96.16.08.32.08.4-.08.08-.16.48-.56.64-.72.16-.16.24-.16.4-.08l1.28.64c.16.08.32.16.4.24.08.24.08.56-.08.8z"/></svg>
                    +7-985-729-46-92
                </a></li>
                <li class="header-contacts__item"><a href="mailto:" class="header-contacts__link">
                    <svg class="header-contacts__icon" width="16" height="16" fill="#000" xmlns="http://www.w3.org/2000/svg"><path d="M12.667 2.667H3.333a2 2 0 00-2 2v6.666a2 2 0 002 2h9.334a2 2 0 002-2V4.667a2 2 0 00-2-2zm0 1.333L8.333 6.98a.667.667 0 01-.666 0L3.333 4h9.334z"/></svg>
                    email@email.com
                </a></li>
            </ul>

            <a href="" class="header__language">EN</a>

            <button class="header__login btn-main btn-login">Вход</a>
            <!--<div class="header__user">
                <a href="./lk.html" class="header__user-name">Екатерина Носик</a>
            </div>-->
        </div>
    </div>
</header>