.header
    padding-top: 25px

.header-fixed
    position: fixed
    padding-top: 10px
    padding-bottom: 10px
    top: 0
    width: 100%
    z-index: 999
    background: repeating-linear-gradient(90deg, rgba(239, 245, 246, 1) 0px, rgba(239, 245, 246, 1) 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 16.66666666666667%), linear-gradient(90deg, rgba(246,252,252,1) 0%, rgba(246,252,252,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%)
    @include _768
        background: repeating-linear-gradient(90deg, rgba(239, 245, 246, 1) 0px, rgba(239, 245, 246, 1) 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 50%), linear-gradient(90deg, rgba(246,252,252,1) 0%, rgba(246,252,252,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%)
        
        

.header--lk
    padding-bottom: 25px
    border-bottom: 1px solid $green

.header__container
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

.header__logo
    font-weight: 700
    font-size: 24px
    line-height: 33px
    text-decoration: none
    color: #000
    &:hover
        color: $green
    @include _768
        margin-bottom: 25px

.header__nav
    @include _1230
        order: 3
        width: 100%
        margin-top: 15px

.header__nav-list 
    @include nl
    display: flex
    flex-wrap: wrap
    @include _1230
        justify-content: space-between

.header__nav-item
    padding: 0 15px 

.header__nav-link
    font-weight: 700
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.03em
    text-decoration: none
    color: #000000
    &:hover
        color: $green


.header__l-menu
    display: flex
    align-items: center
    @include _768
        justify-content: space-between
        width: 100%
        padding-bottom: 5px
    @include _480
        align-items: flex-start
        flex-wrap: wrap


.header-contacts__list
    @include nl
    margin-right: 40px
    @include _1230
        display: flex


.header-contacts__item
    margin-bottom: 5px
    @include _1230
        margin-bottom: 0
        padding: 10px

.header-contacts__link
    font-weight: 700
    font-size: 12px
    line-height: 16px
    letter-spacing: 0.03em
    color: #000000
    text-decoration: none
    &:hover
        color: $green
        .header-contacts__icon
            fill: $green

.header-contacts__icon
    vertical-align: middle

.header__language
    margin-right: 40px
    position: relative
    font-family: 'Roboto', sans-serif
    font-weight: 300
    font-size: 16px
    line-height: 19px
    letter-spacing: 0.03em
    color: #000000
    text-transform: uppercase
    text-decoration: none
    &::after
        content: ''
        position: absolute
        bottom: -7px
        left: 0
        width: 100%
        height: 1px
        background-color: #009473
    @include _480
        margin-right: 0

.header__login
    display: inline-block
    @include _480
        width: 100%

.header__user
    display: flex
    align-items: center
    @include _480
        width: 100%

.header__user-avatar
    border-radius: 50%
    margin-right: 10px

.header__user-name
    max-width: 250px
    margin: 0
    font-family: 'Roboto', sans-serif
    font-weight: 300
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.01em
    text-decoration: none
    color: #000000
    &:hover
        color: $green
