.header
    padding-top: 25px

.header-fixed
    position: fixed
    padding-top: 10px
    padding-bottom: 10px
    top: 0
    width: 100%
    z-index: 999
    background: repeating-linear-gradient(90deg, rgba(239, 245, 246, 1) 0px, rgba(239, 245, 246, 1) 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 16.66666666666667%), linear-gradient(90deg, rgba(246,252,252,1) 0%, rgba(246,252,252,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%)
    @include _992
        //position: static
        //z-index: 1
    @include _768
        background: repeating-linear-gradient(90deg, rgba(239, 245, 246, 1) 0px, rgba(239, 245, 246, 1) 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 50%), linear-gradient(90deg, rgba(246,252,252,1) 0%, rgba(246,252,252,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%)
        
        

.header--lk
    padding-bottom: 25px
    border-bottom: 1px solid $green
    .header__nav,
    .header__m-menu-btn,
    .header_m-menu
        display: none

.header__container
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

.header__logo
    font-weight: 700
    font-size: 24px
    line-height: 33px
    text-decoration: none
    color: #000
    &:hover
        color: $green

.header__nav
    @include _1230
        order: 3
        width: 100%
        margin-top: 15px
    @include _992
        display: none

.header__nav-list 
    @include nl
    display: flex
    flex-wrap: wrap
    @include _1230
        justify-content: space-between

.header__nav-item
    padding: 0 15px 

.header__nav-link
    font-weight: 700
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.03em
    text-decoration: none
    color: #000000
    &:hover
        color: $green


.header__l-menu
    display: flex
    align-items: center
    @include _992
        display: none
    @include _768
        justify-content: space-between
        width: 100%
        padding-bottom: 5px
    @include _480
        align-items: flex-start
        flex-wrap: wrap

.header__contacts-list 
    @include nl
    margin-right: 40px
    @include _1230
        display: flex
.header__contacts-item 
    margin-bottom: 5px
    @include _1230
        margin-bottom: 0
        padding: 10px

.header__contacts-link 
    font-weight: 700
    font-size: 12px
    line-height: 16px
    letter-spacing: 0.03em
    color: #000000
    text-decoration: none
    &:hover
        color: $green
        .header-contacts__icon
            fill: $green

.header__contacts-icon 
    vertical-align: middle

.header__language
    margin-right: 40px
    position: relative
    font-family: 'Roboto', sans-serif
    font-weight: 300
    font-size: 16px
    line-height: 19px
    letter-spacing: 0.03em
    color: #000000
    text-transform: uppercase
    text-decoration: none
    &::after
        content: ''
        position: absolute
        bottom: -7px
        left: 0
        width: 100%
        height: 1px
        background-color: #009473
    @include _480
        margin-right: 0

.header__login
    display: inline-block
    @include _480
        width: 100%

.header__user
    display: flex
    align-items: center
    @include _480
        width: 100%

.header__user-avatar
    border-radius: 50%
    margin-right: 10px

.header__user-name
    max-width: 250px
    margin: 0
    font-family: 'Roboto', sans-serif
    font-weight: 300
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.01em
    text-decoration: none
    color: #000000
    &:hover
        color: $green

/* Mobile menu */
.header__m-menu-btn,
.header__m-close-btn
    padding: 5px
    line-height: 0
    border: none
    border-radius: 5px
    background-color: $green
    
.header__m-menu-btn
    display: none
    @include _992
        display: block

.header__m-close-btn
    position: absolute
    top: 10px
    right: 15px

.header_m-menu
    display: none
    @include _992
        position: fixed
        top: 0
        right: 0
        display: block
        max-width: 400px
        width: 100%
        height: 100vh
        padding: 55px 25px 30px
        background-color: #fff
        transform: translateX(110%)
        transition-duration: 0.3s
        z-index: 1000

.header_m-menu-active
    transform: translateX(0)

.header__m-logo
    display: block
    text-align: center
    margin-bottom: 20px

.header__m-nav-list
    @include nl

.header__m-nav-item
    text-align: center

.header__m-nav-link
    display: block
    padding-top: 15px
    padding-bottom: 14px
    font-weight: 700
    text-decoration: none
    color: #000 
    border-bottom: 1px solid transparent
    &:active
        border-bottom: 1px solid $green

.header__m-l-menu
    margin-bottom: 35px

.header__m-contacts-list
    @include nl
    display: flex
    flex-wrap: wrap
    margin-bottom: 20px

.header__m-contacts-item
    flex: 0 0 50%
    margin-bottom: 15px
    &:last-child
        flex: 0 0 100%
        margin-bottom: 0
    @include _480
        flex: 0 0 100%

.header__m-contacts-link
    font-weight: 700
    font-size: 14px
    line-height: 18px
    letter-spacing: 0.03em
    color: #000000
    text-decoration: none
    &:hover,
    &:focus
        color: $green
        .header__m-contacts-icon 
            fill: $green

.header__m-contacts-icon 
    vertical-align: middle

.header__m-language
    @include _480
        margin-right: 40px

.header__m-login,
.header__m-user-name
    position: relative
    font-size: 16px
    line-height: 19px
    letter-spacing: 0.03em
    color: #000000
    text-decoration: none
    background-color: transparent
    &::after
        content: ''
        position: absolute
        bottom: -7px
        left: 0
        width: 100%
        height: 1px
        background-color: #009473

.header__m-user
    display: inline-block