<div id="addresses-delivery" class="addresses-delivery dashboard-panel">
    <h2 class="addresses-delivery__title">Адрес доставки</h2>
    <p class="addresses-delivery__desc">Вы можете выбрать несколько адресов для доставки. Курьер свяжется с вами. Выбор нескольких адресов возможен только в рамках одного города.</p>

    <a href="" class="addresses-delivery__btn-add btn-main">
        <svg class="addresses-delivery__icon-add" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.833 10.832h-5v5H9.166v-5h-5V9.165h5v-5h1.667v5h5v1.667z" fill="#fff"/></svg>
        Добавить  адрес
    </a>

    <!--<p class="dashboard-empty">Сохраненных адресов не найдено</p>-->
    <ul class="addresses-delivery__list">
        <li class="addresses-delivery__item">
            <div class="addresses-delivery__item-wrap">
                <p class="addresses-delivery__name">Адрес 1</p>
                <p class="addresses-delivery__address">г. Жлобин, Гомельская область <br><b>Мкр-н 16, дом 16, кв.74</b></p>
                <form action="" class="addresses-delivery__form-default">
                    <input id="address-01" name="address" type="checkbox" class="addresses-delivery__input-checkbox" value="yes">
                    <label for="address-01" class="addresses-delivery__label-checkbox">Адрес по умолчанию</label>
                </form>

                <form action="" class="addresses-delivery__form-remove">
                    <button class="addresses-delivery__btn-remove" type="submit">
                        <svg class="addresses-delivery__icon-remove" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9803 8.97908H8.98031v4.00002H7.64697V8.97908h-4V7.64575h4v-4h1.33334v4h3.99999v1.33333z" fill="#8F8F8F"/></svg>
                    </button>
                </form>
            </div>
        </li>
    </ul>
</div>
