<section class="contacts">
    <div id="contacts__map" class="contacts__map"></div>

    <div class="contacts__wrap-content">
        <h2 class="contacts__title section-title">Контакты</h2>
        <p class="contacts__address">Офис в Москве: ул. Петровская, д. 23/10</p>
        <p class="contacts__address">Офис в Москве: ул. Петровская, д. 23/10</p>
        <p class="contacts__address">Офис в Москве: ул. Петровская, д. 23/10</p>
        <a href="tel:+74993229020" class="contacts__phone">8(499) 322 90 20</a>
        <a href="mailto:chip.imfinfter@gmail.com" class="contacts__email">chip.imfinfter@gmail.com</a>
    </div>
</section>