<section class="contacts">
    <div id="contacts__map" class="contacts__map"></div>

    <div class="contacts__wrap-content">
        <h2 class="contacts__title section-title">Контакты</h2>
        <p class="contacts__address">Офис в Москве: ул. Петровская, д. 23/10</p>
        <p class="contacts__address">Офис в Москве: ул. Петровская, д. 23/10</p>
        <p class="contacts__address">Офис в Москве: ул. Петровская, д. 23/10</p>
        <a href="tel:+79857294692" class="contacts__phone">+7-985-729-46-92</a>
        <a href="mailto:zoomrenew@gmail.com" class="contacts__email">zoomrenew@gmail.com</a>
    </div>
</section>