<div class="order-history">
    <h2 class="order-history__title main-content__title">История заказов</h2>

    <!--<p class="dashboard-empty">Заказов не найдено</p>-->
    <table class="order-history__table">
        <thead class="order-history__table-head">
            <tr>
                <td>#</td>
                <td>Товар</td>
                <td>Дата заказа</td>
                <td>Кол-во</td>
                <td>Цена (Р)</td>
                <td>Статус заказа</td>
            </tr>
        </thead>
        <tbody class="order-history__table-body">
            <tr>
                <td>№ 13000095654-1</td>
                <td><img class="order-history__table-image" src="%=static=%img/assets/order-history/order-device-01.jpg" alt="ЧИП UltZooM ДЛЯ PHILIPS"></td>
                <td>25.02.2020</td>
                <td>1</td>
                <td>19 900</td>
                <td><span class="order-history__table-status status-delivery">Доставлен</span></td>
            </tr>
            <tr>
                <td>№ 13000095654-1</td>
                <td><img class="order-history__table-image" src="%=static=%img/assets/order-history/order-device-01.jpg" alt="ЧИП UltZooM ДЛЯ PHILIPS"></td>
                <td>25.02.2020</td>
                <td>1</td>
                <td>19 900</td>
                <td><span class="order-history__table-status status-wait">Ожитает отправки</span></td>
            </tr>
        </tbody>
    </table>
</div>