<section id="installation" class="installation slowSection">
    <div class="installation__container container">
        <div class="installation__about">
            <p class="section-name slowText">Установка чипа</p>
            <h2 class="installation__title section-title slowText">Бесконечность за
                40 секунд ЧИП ДЛЯ PHILIPS ZOOM</h2>
            <p class="installation__desc slowText">
                Установка чипа производится в оригинальный светонаправляющий ограничитель вашей лампы ZOOM.
                Все что вам понадобиться это использованный ограничитель ZOOM, простая отвертка и 40 секунд времени.
            </p>
        </div>

        <div class="installation__video-wrap">
            <video class="installation__video slowBlock" autoplay loop>
                <source src="https://uploads-ssl.webflow.com/5c53c5982a3fef4c7840b8df/5c53c5982a3fef6f1b40b903_Как сделать вашу лампу ZOOM безлимитной%2C потратив всего лишь 40 секунд-transcode.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                Тег video не поддерживается вашим браузером. 
                <a href="https://uploads-ssl.webflow.com/5c53c5982a3fef4c7840b8df/5c53c5982a3fef6f1b40b903_Как сделать вашу лампу ZOOM безлимитной%2C потратив всего лишь 40 секунд-transcode.mp4">Скачайте видео</a>.
            </video>
            <div class="block-lines"></div>

            <div class="installation__video-desc-wrap slowText">
                <p class="installation__video-desc">Если вы хотите сэкономить эти 40 секунд на перестановку чипа, можете купить уже установленный нами в оригинальную пластиковую насадку ZOOM.</p>
                <button class="installation__video-btn btn-arrow btn-order">
                    Заказать насадку 
                    <svg class="btn-arrow__icon" width="57" height="17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#C9E7E1" d="M41 0h16v17H41z"/>
                        <g class="btn-arrow__icon-arrow">
                            <path d="M48.082 6.082L51 9l-3 3 .082-5.918z" fill="#009473"/>
                            <path d="M49 9H1" stroke="#009473" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>