.installation 

.installation__container
    display: flex
    justify-content: space-between
.installation__about,
.installation__video-wrap 
    flex: 0 0 50%

.installation__about 
    padding-top: 75px

.section-name 

.installation__title
    margin-bottom: 79px



.installation__desc
    margin: 0
    line-height: 22px

.installation__video-wrap 

.installation__video
    width: 100%

.installation__video-desc-wrap
    padding-left: 25px 
    padding-right: 73px

.installation__video-desc
    margin: 0
    margin-bottom: 26px
    line-height: 22px


.installation__video-btn 

